@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: Montserrat, sans-serif;
}

p {
    text-align:justify;
}
img {
    /*width: 200px; /* You can set the dimensions to whatever you want */
    /*height: 200px;*/
    object-fit: cover;
}